In [8]:
import mysql.connector
import pandas as pd

In [9]:
db=mysql.connector.connect(
    host='iosqlde.onairnet.xyz',
    user='imfReader',
    password='imfReader2022@#@',
    database='sqlCourse'
)

In [10]:
def sql(_query):
    return pd.read_sql_query(_query, db)

In [12]:
sql("""
    SELECT 
        regID,
        airportDep AS Origen,
        airportArr AS Destino,
        airlineCode
        
    FROM raw_flights
    
    WHERE airlineCode='IB'
    AND airportArr='MAD'
    AND airportDep='MEX'
""")

C:\Users\Juan Carlos\AppData\Local\Temp\ipykernel_11448\3379854766.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(_query, db)

                      regID Origen Destino airlineCode
0  IB6402_20221019_20221018    MEX     MAD          IB
1  IB6400_20221018_20221018    MEX     MAD          IB